@model EVA.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterBodyID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterBodyID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
